
body{
     
    background-image: url(../images/boutique.jpg);
    
    background-size: cover;
    
}

div{
    
    background-color: #1fb49d;
    width: 50%;
    border-radius: 25px;
    text-align:center;
   
    margin: 100px auto;
    opacity:0.8;
    
}
button{
    
    background-color: orangered;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    
    
}


h1{
    font-size: 4em;
    color: white;
}

p{
    font-size: 1.8em;
    color: whitesmoke;
}

i{
    
    
    outline-color: white;
    color: white;
        
}
